@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Regular.eot');
    src: local('Neue Machina Regular'), local('NeueMachina-Regular'),
        url('NeueMachina-Regular.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Regular.woff2') format('woff2'),
        url('NeueMachina-Regular.woff') format('woff'),
        url('NeueMachina-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Machina';
    src: url('NeueMachina-Bold.eot');
    src: local('Neue Machina Bold'), local('NeueMachina-Bold'),
        url('NeueMachina-Bold.eot?#iefix') format('embedded-opentype'),
        url('NeueMachina-Bold.woff2') format('woff2'),
        url('NeueMachina-Bold.woff') format('woff'),
        url('NeueMachina-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

